@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: auto;
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0;
    grid-gap: 0;

    display: -ms-grid;
    -ms-grid-columns: 3fr;
    -ms-grid-rows: 3fr;
}

.tile {
    height: 20vh;
    width: 20vh;
    background-color: mediumaquamarine;
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

}

button, button:disabled, button:hover {
    background-color: paleturquoise;
}

.pressed {
    font-weight: bold;
    font-size: 50px;
    font-family: 'Archivo Black', sans-serif;
}

.tile-O {
    color: red;
}

.tile-X {
    color: green;
}

.won {
    background-color: black;
}