* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(144,95,176);
    background: linear-gradient(90deg, rgba(144,95,176,1) 0%, rgba(190,63,63,1) 50%, rgba(214,169,105,1) 100%);
}

.wrapper {
    margin: auto;
    display: grid;
    text-align:center;
    justify-content: center;
}

.grid-container {
    display: grid;
    display: -ms-grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    column-gap:1vh;
    row-gap: 1vh;
    -ms-grid-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
}

.tile {
    height: 20vh;
    width: 20vh;
    background: rgb(140,151,207);
    background: radial-gradient(circle, rgba(140,151,207,1) 0%, rgba(196,110,127,1) 100%);
    border: 1px solid black;
    cursor: pointer;

    display: flex;
    display: -ms-flex;
    justify-content: center;
    align-items: center;

}

button, button:hover {
    background: rgb(255,0,112);
    background: radial-gradient(circle, rgba(255,0,112,1) 0%, rgba(0,117,255,1) 100%);
}

.pressed {
    font-weight: bold;
    font-size: 7vh;
    font-family: 'Archivo Black', sans-serif;
}

.tile-O {
    color: lightcyan;
    text-shadow: black 1px 0 10px;
}

.tile-X {
    color: lightsalmon;
    text-shadow: black 1px 0 10px;
}

.text {
    display: flex;
    display: -ms-flex;
    height: 10vh;
    font-family: 'Archivo', sans-serif;
    font-size: 5vh;
    text-align:center;
    justify-content: center;
    text-shadow: white 1px 0 10px;
}

.text p {
    align-self: center;
}

.tileWon {
    background: rgb(95,117,144);
    background: radial-gradient(circle, rgba(95,117,144,1) 0%, rgba(62,8,80,1) 100%);
}

.resetButton, .resetButton:hover {
    background-image: url("reload-icon.png");
    background-size: 100%;
    width: 5vh;
    height: 5vh;
    cursor: pointer;
    border: 0;
}

/*Internet Explorer */

#tile1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

#tile2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

#tile3 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

#tile4 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

#tile5 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}

#tile6 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
}

#tile7 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

#tile8 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
}

#tile9 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}